<section class="container my-5 position-relative">
    <article class="p-2 mb-3 bg-primary text-white font-weight-bold"><span>QUIÉNES SOMOS</span></article>
    <article class="row">
        <img class="d-block mx-auto img-fluid about-img col-mg-6" src="assets/images/dashboard-visual-control.webp" alt="image 1">
        <section class="col-md-6">
            <h2 class="mt-4">Software de producción y manufactura</h2>
            <p>
              Nos comprometemos a hacerlo más productivo, más eficiente y más rentable con aplicaciones
              <strong style="color:#f36f21;">robustas, automatizadas y versátiles</strong>
              para todas las áreas de la logística de manufactura.
            </p>
        </section>
    </article>
    <br>
</section>